/* Layout Styles */
.container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    @include medium-and-above() {
        max-width: 80em;
    }
}

.row-spaced {
    display: flex;
    justify-content: space-between;
}