/* Header Styles */
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    .header-line {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header-subtitle {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    @include medium-and-above() {
        display: flex;
        align-items: center;
        .header-line {
            visibility: hidden;
        }
    }
}
.header-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overview-header{
    color: $dark-grayish-blue;
    margin-top: 50px;
    margin-bottom: 30px;
    @include medium-and-above() {
        margin-top: 10px;
    }
}